.contactsBlock {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../common/contact-bg.jpg");
    background-attachment: fixed;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 120px 0 120px 0;
}

.contactsContainer {
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
}

.title {
    border-bottom: 4px solid #109af7;
    border-top: 4px solid #000;
    display: inline-block;
    font-size: 36px;
    color: #222;
    margin-bottom: 15px;
    margin-top: 0;
    padding: 5px 0;
}

.contactsBlock h4{
    color: white;
}
