.work{
    width: 400px;
    border: 1px solid;
}

.works icons{

}

.icons{

    height: 250px;
    border: 1px solid;
    background-color: #99d0fb;
    display: flex;
    justify-content: center;
    align-items: center;
}