.worksBlock {
    width: 100%;
    padding: 120px 0 120px 0;
    background: #e7e6e6;
}

.worksContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    border-bottom: 4px solid #109af7;
    border-top: 4px solid #000;
    display: inline-block;
    font-size: 36px;
    color: #222;
    margin-bottom: 15px;
    margin-top: 0;
    padding: 5px 0;
}

.works {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
}

@media screen and (max-width: 800px) {
    .works{
        justify-content: center;
    }
}

