.header {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: space-between;
}

.navList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.nav a {
    color: white;
    font-size: 14px;
}

.nav a:hover {
    color: #109af7;
}

.burger {
    display: none;
}

@media screen and (max-width: 768px) {
    .burger {
        display: block;
    }

    .nav {
        display: none;
    }

    .navList {
        flex-direction: column;
        text-align: start;
        background: white;
        max-width: 300px;
    }

    .navList a {
        color: black;
    }

    .navList a:hover {
        color: #109af7;
    }

    .list {
        padding: 10px;
    }
}