.footerBlock{
    height: auto;
}

.footerContainer{
    justify-content: space-around;
    flex-direction: column;
}

.social{
    width: 150px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

a{
    text-decoration: none;
}

.footerBlock h2{
    width: 60vh;
}

.socialIcons img{
    width: 30px;
    height: 30px;
    fill: #109af7;
}
.socialContainer{
    display: flex;
}

@media screen and (max-width: 768px) {
    .footerBlock h2{
        font-size: 18px;
    }
}

@media screen and (max-width: 380px) {
    .footerBlock h2{
        font-size: 14px;
    }
}