.footerBlock{
    height: 10vh;
}

.footerContainer{
    justify-content: space-around;
    flex-direction: column;
}

.social{
    width: 150px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

a{
    text-decoration: none;
}

.footerBlock h2{

}

.socialIcons img{
    width: 30px;
    height: 30px;
    fill: #109af7;
}
